#mlf {

  // Background clip
  .background-clip (@value: padding-box) {
    @border-box:  border;
    @padding-box: padding;
    @content-box: content;

    -webkit-background-clip: @value;
       -moz-background-clip: @@value;
            background-clip: @value;
  }

  // Border radius
  .border-radius (@radius: 5px) {
    -webkit-border-radius: @arguments;
            border-radius: @arguments;

    .background-clip();
  }

  // Left border radius
  .border-left-radius (@radius: 5px) {
    -webkit-border-top-left-radius:    @arguments;
    -webkit-border-bottom-left-radius: @arguments;

       -moz-border-radius-topleft:     @arguments;
       -moz-border-radius-bottomleft:  @arguments;

            border-top-left-radius:    @arguments;
            border-bottom-left-radius: @arguments;

    .background-clip();
  }

  // Right border radius
  .border-right-radius (@radius: 5px) {
    -webkit-border-top-right-radius:    @arguments;
    -webkit-border-bottom-right-radius: @arguments;

       -moz-border-radius-topright:     @arguments;
       -moz-border-radius-bottomright:  @arguments;

            border-top-right-radius:    @arguments;
            border-bottom-right-radius: @arguments;

    .background-clip();
  }

}