#mlf {

  // Background clip
  .background-clip (@value: padding-box) {
    background-clip: @value;
  }

  // Border radius
  .border-radius (@radius: 5px) {
    border-radius: @arguments;

    .background-clip(padding-box);
  }

  // Left border radius
  .border-left-radius (@radius: 5px) {
    border-top-left-radius:    @arguments;
    border-bottom-left-radius: @arguments;

    .background-clip(padding-box);
  }

  // Right border radius
  .border-right-radius (@radius: 5px) {
    border-top-right-radius:    @arguments;
    border-bottom-right-radius: @arguments;

    .background-clip(padding-box);
  }

}