#mlf {

  // CSS3 Columns
  .columns (@count: 2, @gap: 10px) {
    -webkit-column-count: @count;
       -moz-column-count: @count;
         -o-column-count: @count;
            column-count: @count;

    -webkit-column-gap: @gap;
       -moz-column-gap: @gap;
         -o-column-gap: @gap;
            column-gap: @gap;
  }

}