// Columns
.columns (@count: 2, @padding: 10px) {
  -webkit-column-count: @count;
     -moz-column-count: @count;
       -o-column-count: @count;
          column-count: @count;

  -webkit-column-gap: @padding;
     -moz-column-gap: @padding;
       -o-column-gap: @padding;
          column-gap: @padding;
}