// Box shadow
.box-shadow (@shadow: 1px 1px 8px #ccc) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Blur text shadows
.blur-text-shadow (@color: #ccc) {
  text-shadow: @color 0px 0px 20px;
}

// Line text shadows
.line-text-shadow (@color: #ccc) {
  text-shadow: @color 0px 1px 0px;
}