/**
 * Background Size
 */
.background-size (@width: 50px, @height: 50px) {
  -moz-background-size: @width @height;
  -webkit-background-size: @width @height;
  background-size: @width @height;
}

/**
 * Background patterns
 * Source: http://leaverou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/
 */
.background-horizontal (@from: rgba(255, 255, 255, .2), @default: #0ae) {
  background-color: @default;

  background-image: -o-linear-gradient(@from 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(@from 50%, transparent 50%, transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, @from), color-stop(.5, transparent), to(transparent));
  background-image: linear-gradient(@from 50%, transparent 50%, transparent);

  .background-size(50px, 50px);
}
.background-vertical (@from: rgba(255, 255, 255, .2), @default: #f90) {
  background-color: @default;

  background-image: -o-linear-gradient(0deg, @from 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(0deg, @from 50%, transparent 50%, transparent);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, @from), color-stop(.5, transparent), to(transparent));
  background-image: linear-gradient(0deg, @from 50%, transparent 50%, transparent);

  .background-size(50px, 50px);
}
.background-picnic (@from: rgba(200, 0, 0, .5), @to: rgba(200, 0, 0, .5), @default: #fff) {
  background-color: @default;

  background-image: -o-linear-gradient(transparent 50%, @from 50%, @to),
                    -o-linear-gradient(0deg, transparent 50%, @from 50%, @to);

  background-image: -moz-linear-gradient(transparent 50%, @from 50%, @to),
                    -moz-linear-gradient(0deg, transparent 50%, @from 50%, @to);

  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, @from), to(@to)),
                    -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, @from), to(@to));

  background-image: linear-gradient(transparent 50%, @from 50%, @to),
                    linear-gradient(0deg, transparent 50%, @from 50%, @to);

  .background-size(50px, 50px);
}

/**
 * Highlight transition
 */
.highlight (@attrib: background, @time: 500ms) {
  -o-transition: @attrib @time;
  -moz-transition: @attrib @time;
  -webkit-transition: @attrib @time;
  transition: @attrib @time;
}

/**
 * Box shadow
 */
.box-shadow (@blur: 8px, @color: #ccc) {
  -o-box-shadow: 1px 1px @blur @color;
  -moz-box-shadow: 1px 1px @blur @color;
  -webkit-box-shadow: 1px 1px @blur @color;
  box-shadow: 1px 1px @blur @color;
}

/**
 * Border radius
 */
.border-radius (@radius: 5px) {
  -o-border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

/**
 * Transforms
 */
.rotate (@rotate: 45deg) {
  -o-transform: rotate(@rotate);
  -moz-transform: rotate(@rotate);
  -webkit-transform: rotate(@rotate);
  -ms-transform: rotate(@rotate);
  transform: rotate(@rotate);
}
.scale (@scale: 5) {
  -o-transform: scale(@scale);
  -moz-transform: scale(@scale);
  -webkit-transform: scale(@scale);
  -ms-transform: scale(@scale);
  transform: scale(@scale);
}

/**
 * Columns
 */
.columns (@count: 2, @padding: 10px) {
  -o-column-count: @count;
  -o-column-gap: @padding;
  -moz-column-count: @count;
  -moz-column-gap: @padding;
  -webkit-column-count: @count;
  -webkit-column-gap: @padding;
  column-count: @count;
  column-gap: @padding;
}

/**
 * Text shadows
 */
.blur-text-shadow (@color: #ccc) {
  text-shadow: @color 0px 0px 20px;
}
.line-text-shadow (@color: #ccc) {
  text-shadow: @color 0px 1px 0px;
}